<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Статус заказа</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top:50px">
    <div class="col-md-6 offset-3 alert alert-success text-center" style="position:center">
        <h2>Заказ успешно оформлен</h2>
        <p>Свами скоро свяжутся наши сотрудники!</p>
        <hr />
        <p>Спасибо за ваше доверие!</p>
        <div>
            <a asp-controller="Products" asp-action="Index" class="btn btn-success">Вернуться на главную</a>
        </div>
    </div>
</div>
