<head>
    <title>About</title>
    <link rel="stylesheet" href="~/css~/css/about.css" />
</head>
<div class="container" style="margin-top:25px;margin-bottom:25px">
    <div class="col-lg-6 mb-5">
        <div class="contact-text">
            <h2>DinaUzOnline</h2>
            <p>Если вы хотите получить скорый ответ на ваш вопрос - воспользуйтесь прямыми сообщениями в
                наших социальных сетях. Коммерческие и иные предложения можно присылать нам на почту, либо
                позвонив по одному из номеров.</p>
            <table>
                <tbody>
                    <tr>
                        <td class="c-o"><i class="bi bi-geo-alt-fill"></i> </td>
                        <td>Ташкент</td>
                    </tr>
                    <tr>
                        <td class="c-o"><i class="bi bi-telephone-fill"></i></td>
                        <td>+998 (99) 851-75-09</td>
                    </tr>
                    <tr>
                        <td class="c-o"><i class="bi bi-envelope-fill"></i></td>
                        <td>Info@dinauz.com</td>
                    </tr>
                    <tr>
                        <td class="c-o"><i class="bi bi-alarm"></i></td>
                        <td>Круглосуточно</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
