<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="google_translate_element"></div>
                </div>   
                
            </div>
        </div>
    </div> <!-- End header area -->
    
    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a asp-controller="Products" asp-action="Index">DinaUz<span>Online</span></a></h1>
                    </div>
                </div>
                <div class="col-sm-6" style="margin-top: 35px">
                    <div class="single-sidebar">
                        <form asp-controller="Products" asp-action="Index" class="form-inline my-2 my-lg-0">
                            <div class="col-md-8">
                                <input type="text" name="searchString" placeholder="Поиск ...">
                            </div>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->
    
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div> 
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a asp-controller="Products" asp-action="Index"><i class="bi bi-newspaper"></i> Главная</a></li>
                        <li><a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="A1E40BD4-248B-4A0F-80FE-BF13A9E6F769"><i class="bi bi-house-fill"></i> Для дома</a></li>
                        <li><a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="03F8423E-F330-493B-AFC7-823ABA2B9A8A"><i class="fa fa-truck"></i> Для машины</a></li>
                        <li><a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="C444DBA0-954A-400E-BBAD-26F2B5AE5EFD"><i class="bi bi-headphones"></i> Акссесуары</a></li>
                        <li><a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="388AC6DA-3C3E-4B99-A2EE-D282CB5CE93C"><i class="bi bi-handbag-fill"></i> Одежда</a></li>
                        <li><a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="09C704FA-43DF-4BBC-A63F-C4F31EC0C5E1"><i class="bi bi-justify"></i> Прочее</a></li>
                        <li><a asp-controller="Products" asp-action="About"><i class="bi bi-telegram"></i> Наши контакты</a></li>
                    </ul>
                </div>  
            </div>
        </div>
    </div> <!-- End mainmenu area -->
    
    <div>
        @RenderBody()
    </div>

    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>DinaUz<span>Online</span></h2>
                        <p>Компания DinaUzOnline стремительно прорабатывает все свои возможности, и сегодня мы предлагаем своим клиентам значительные скидки и быструю доставку в ряды городов. Мы будем рады вам, в любое время. С любовью команда DinaUzOnline</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="#" target="_blank"><i class="bi bi-telegram"></i></a>
                            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Категории</h2>
                        <ul>
                            <li><a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="A1E40BD4-248B-4A0F-80FE-BF13A9E6F769"><i class="bi bi-house-fill"></i> Для дома</a></li>
                            <li><a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="03F8423E-F330-493B-AFC7-823ABA2B9A8A"><i class="fa fa-truck"></i> Для машины</a></li>
                            <li><a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="C444DBA0-954A-400E-BBAD-26F2B5AE5EFD"><i class="bi bi-headphones"></i> Акссесуары</a></li>
                            <li><a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="388AC6DA-3C3E-4B99-A2EE-D282CB5CE93C"><i class="bi bi-handbag-fill"></i> Одежда</a></li>
                            <li><a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="09C704FA-43DF-4BBC-A63F-C4F31EC0C5E1"><i class="bi bi-justify"></i> Прочее</a></li>
                        </ul>                        
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->
    
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2022 DinaUzOnline. All Rights Reserved. Made <i class="fa fa-heart"></i> by <a href="https://github.com/rTolik1104" target="_blank">Tolkin</a></p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
   
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    <script src="~/js/jquery.easing.1.3.min.js"></script>
    
    <!-- Main Script -->
    <script src="~/js/main.js"></script>

    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  </body>
</html>